.App {
  text-align: center;
}

.App-header {
  background-color: #3072f7;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
  text-decoration: none;
}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
  margin-left: -640px;
}
